@model CreateWhoWeAreDetailDto
@{
    ViewData["Title"] = "CreateWhoWeAreDetail";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">


                <h6 class="mb-4">Yeni Biz Kimiz Ekleme Sayfası</h6>
                <form method="Post">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label>Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                        </div>
                        <div class="col-md-6">
                            <label>Alt Başlık</label>
                            <input type="text" asp-for="Subtitle" class="form-control" />
                            <br />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label>Paragraf 1</label>
                            <textarea asp-for="Description1" class="form-control" rows="3"></textarea>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <label>Paragraf 2</label>
                            <textarea asp-for="Description2" class="form-control" rows="3"></textarea>
                            <br />
                        </div>
                        
                    </div>

                    <button class="btn btn-primary">Bilgileri Kaydet</button>
                </form>

            </div>
        </div>
    </div>
</div>
