@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body>
    <div class="container-xxxl position-relative bg-white d-flex p-0">

        @await Component.InvokeAsync("_AdminLayoutSpinnerComponentPartial")

        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")

        <div class="content">

            @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>

            @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")

        </div>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")

</body>

</html>